<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Data</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/data.css" />

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/datatables/1.10.12/js/jquery.dataTables.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/data.js" />

</head>
<body>
<div class="container">
    <h2 id="teamname"></h2>
    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody id="members">

        </tbody>
    </table>
</div>
<div id="button">Dohvati podatke</div>
<div id="submitData">Potvrdi</div>
</body>
</html>