<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Prijava</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/prijava.css" />

</head>
<body>

<div class="wrapper">
    <form class="form-signin" action="http://52.233.158.172/change/api/hr/account/login" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="Teamname" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="Password" placeholder="Password" required=""/> <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginBtn">Login</button>
    </form>
</div>

</body>
</html>